/nbproject/private/
/nbproject/
/build/
/node_modules/
konga.MD
/configurations/**/*
/public
/keys/**/*
/.vscode/**/*
launch.json
# Logs
**/*.log
**/*.log.gz
npm-debug.log*
src/configurations/services.js

# sqlite database
*.sqlite

# Optional REPL history
.node_repl_history

#archivo de configuracion
src/configurations/app.js
