module.exports = {
  usuario: '{{ config.USUARIO }}',
  clave: '{{ config.CLAVE }}',
  wsdl: '{{ config.WSDL }}',
  wsdlVehiculos: '{{ config.WSDL_VEHICULOS }}',
  wsdlUso:'{{ config.WSDL_USO }}',
  puerto:'{{ config.PUERTO }}',
};
